* {
  font-family: Rubik Doodle Shadow, sans-serif;
  background-color: #ead196;
}

h1 {
  font-size: 90px;
  color: #bf3131;
}

a {
  text-decoration: none;
  color: #5f8670;
  font-size: 32px;
  font-weight: bold;
}
